У вас есть словарь "data" с неоднородными и нетабличными данными.

Этот словарь содержит информацию о школе, учениках и учителях. Ученики могут использовать его для тренировки обработки неоднородных и нетабличных данных с помощью библиотеки pandas.

Ваша задача:
1. Извлечь данные о:
    - студентах
    - их оценках
    - внеклассных занятиях
2. Извлечь информацию об учителях и их опыте
3. Преобразуйте все извлеченные ранее данные в отдельные Датафреймы
4. Создайте единый Датафрейм состоящий из всех Датафреймов в п.3

ВАЖНО: При выполнении задания старайтесь использовать только те методы, которые вы изучали ранее.

In [ ]:
data = {
    "school": {
        "name": "Greenwood High",
        "location": "Amsterdam",
        "students": [
            {
                "id": 1,
                "name": "Alice",
                "age": 14,
                "grades": {
                    "math": 85,
                    "science": 92,
                    "history": 78
                },
                "activities": ["basketball", "chess"]
            },
            {
                "id": 2,
                "name": "Bob",
                "age": 15,
                "grades": {
                    "math": 90,
                    "science": 88,
                    "history": 84
                },
                "activities": ["soccer", "debate"]
            },
            {
                "id": 3,
                "name": "Charlie",
                "age": 14,
                "grades": {
                    "math": 76,
                    "science": 80,
                    "history": 85
                },
                "activities": ["music", "art"]
            }
        ],
        "teachers": {
            "math": {
                "name": "Mr. Smith",
                "experience": 10,
                "subjects": ["algebra", "geometry"]
            },
            "science": {
                "name": "Ms. Johnson",
                "experience": 8,
                "subjects": ["biology", "chemistry"]
            }
        }
    }
}